/* styles.css */
h5.mb-3 {
    font-weight: 600;
}

.card.mb-3 {
    background-color: #f9f9f9;
    border: none;
}

.card-title {
    font-size: 0.95rem;
    font-weight: 600;
}
.navbar-foodmap {
    background-color: #0caa37; /* hoặc màu xanh lá tuỳ ý */
}

.cs-footer {
    background-color: #0A923C;
    height: 55px;
    line-height: 55px;
}
img {
    max-width: 100%;
    height: auto;
}